[credential]
	helper = store --file=/home/pc/.config/git/.git-credentials
[user]
	email = sachinsenal0x64@users.noreply.github.com
	name = 0x64
[safe]
	directory = ~/.local/share/lunarvim/site/pack/lazy/opt/pywal.nvim
	directory = ~/.local/share/lunarvim/site/pack/lazy/opt/jedi-language-server
[alias]
	work = log --pretty=format:\"%C(yellow)%h %ar %C(auto)%d %Creset %s , %Cblue%cn\" --graph --all
	coa =  !git pull && git add -A && git commit -am
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
